# 2. Series

In [63]:
import pandas as pd
import numpy as np

## 2-1. Series 생성하기
* Numpy에서 제공하는 1차원 배열과 유사
* 엑셀에서 한 컬럼 (엑셀 기준 세로줄)
* Series = 1차원 배열의 값(value) + 행 인덱스(index)

In [68]:
# 1. value값만 주기
# index를 지정하지 않은 경우 0부터 시작하는 index가 부여됨
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [69]:
type(s)

pandas.core.series.Series

In [70]:
s.shape

(4,)

In [71]:
# index 속성
s.index

RangeIndex(start=0, stop=4, step=1)

In [72]:
s.values

array([1, 2, 3, 4], dtype=int64)

In [73]:
type(s.values)

numpy.ndarray

In [74]:
# dtype 지정하기
pd.Series([1,2,3,4], dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [75]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int32

In [78]:
# 1~10까지 Series 만들기
pd.Series(np.arange(1,10))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

In [79]:
# 2.value와 index 둘다 추가
index = [1,2,3,4]
s = pd.Series([10,20,30,40], index = index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [80]:
# index에 문자열 주기 
index = ['치킨','피자','초밥','삼겹살']
s = pd.Series([12000, 30000, 2000, 20000], index = index)
s

치킨     12000
피자     30000
초밥      2000
삼겹살    20000
dtype: int64

In [81]:
s.index

Index(['치킨', '피자', '초밥', '삼겹살'], dtype='object')

In [82]:
s.values

array([12000, 30000,  2000, 20000], dtype=int64)

In [83]:
# 딕셔너리로 만들기
s = pd.Series({'치킨':16000,'콜라':2000,'초밥':30000,'삼겹살':12000})
s

치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
dtype: int64

In [85]:
s.name='메뉴'
s

치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [87]:
s.index.name = '메뉴명'

In [88]:
s

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

## 2-2. Series 인덱싱과 슬라이싱

In [89]:
s

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [90]:
# 0 인덱스
s[0]

16000

In [91]:
s['치킨'], s.치킨

(16000, 16000)

In [92]:
s[3], s[-1]

(12000, 12000)

In [93]:
s['삼겹살'], s.삼겹살

(12000, 12000)

In [94]:
#index가 숫자인 경우
t = pd.Series([10,20,30,40], index = [1,2,3,4])
t

1    10
2    20
3    30
4    40
dtype: int64

In [98]:
t[1] # 인덱스 번호보다 인덱스 이름을 더 우선시한다

10

In [99]:
# Fancy 인덱싱
s

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [100]:
s[['치킨','콜라']]

메뉴명
치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [101]:
s[[0,1]]

메뉴명
치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [102]:
# Boolean 인덱싱
s <= 15000

메뉴명
치킨     False
콜라      True
초밥     False
삼겹살     True
Name: 메뉴, dtype: bool

In [103]:
s[s <= 15000]

메뉴명
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [104]:
(s>=15000) & (s<=30000)

메뉴명
치킨      True
콜라     False
초밥      True
삼겹살    False
Name: 메뉴, dtype: bool

In [105]:
s[(s>=15000) & (s<=30000)]

메뉴명
치킨    16000
초밥    30000
Name: 메뉴, dtype: int64

In [106]:
# 슬라이싱 (start:end:step)
s

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [107]:
# 0인덱싱 사용 슬라이싱 : end - 1
s[1:3]

메뉴명
콜라     2000
초밥    30000
Name: 메뉴, dtype: int64

In [108]:
# 인덱스 라벨로 슬라이싱을 하면 end까지
s['콜라':'초밥']

메뉴명
콜라     2000
초밥    30000
Name: 메뉴, dtype: int64

## 2-3. Series 데이터 CRUD

In [111]:
# 앞에서부터 데이터 보기
s.head()

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [112]:
# 뒤에서부터 데이터 보기
s.tail()

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [113]:
s.tail(3)

메뉴명
콜라      2000
초밥     30000
삼겹살    12000
Name: 메뉴, dtype: int64

In [114]:
# 데이터 추가
# 피자 추가 (20000)
s['피자'] = 20000
s

메뉴명
치킨     16000
콜라      2000
초밥     30000
삼겹살    12000
피자     20000
Name: 메뉴, dtype: int64

In [115]:
s['햄버거'] = np.NaN
s

메뉴명
치킨     16000.0
콜라      2000.0
초밥     30000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [116]:
# 비어있는 데이터 찾기
s.isnull()

메뉴명
치킨     False
콜라     False
초밥     False
삼겹살    False
피자     False
햄버거     True
Name: 메뉴, dtype: bool

In [117]:
s.isna()

메뉴명
치킨     False
콜라     False
초밥     False
삼겹살    False
피자     False
햄버거     True
Name: 메뉴, dtype: bool

In [118]:
s.notna()

메뉴명
치킨      True
콜라      True
초밥      True
삼겹살     True
피자      True
햄버거    False
Name: 메뉴, dtype: bool

In [119]:
s[s.notna()]

메뉴명
치킨     16000.0
콜라      2000.0
초밥     30000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

In [120]:
# 비어있는지 검사
s.notnull()

메뉴명
치킨      True
콜라      True
초밥      True
삼겹살     True
피자      True
햄버거    False
Name: 메뉴, dtype: bool

In [121]:
# 데이터 변경하기
s['치킨'] = 20000
s

메뉴명
치킨     20000.0
콜라      2000.0
초밥     30000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [122]:
s[0] = 20000
s

메뉴명
치킨     20000.0
콜라      2000.0
초밥     30000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [123]:
# 데이터 삭제하기
s
del s['햄버거']
s

메뉴명
치킨     20000.0
콜라      2000.0
초밥     30000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

## 2-4. Series의 연산

In [124]:
# Series간의 사칙연산
data = [20000,2000,30000,12000,20000]
index = ['치킨','콜라','초밥','삼겹살','피자']
s2 = pd.Series(data = data, index = index)
s2

치킨     20000
콜라      2000
초밥     30000
삼겹살    12000
피자     20000
dtype: int64

In [125]:
s + s2

메뉴명
치킨     40000.0
콜라      4000.0
초밥     60000.0
삼겹살    24000.0
피자     40000.0
dtype: float64

In [126]:
s - s2

메뉴명
치킨     0.0
콜라     0.0
초밥     0.0
삼겹살    0.0
피자     0.0
dtype: float64

In [127]:
# Scalar와의 연산
s = s + 1000
s

메뉴명
치킨     21000.0
콜라      3000.0
초밥     31000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64

In [128]:
# Aggregation 함수
s.max()

31000.0

In [129]:
s.min()

3000.0

In [130]:
s.sum()

89000.0

In [131]:
s.mean()

17800.0

In [132]:
s

메뉴명
치킨     21000.0
콜라      3000.0
초밥     31000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64

In [133]:
s.median()

21000.0

In [134]:
s

메뉴명
치킨     21000.0
콜라      3000.0
초밥     31000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64